{% extends "home.html" %}
{% block title %} AetherCare-Finder {% endblock title %}
{% block css %} 
{{super()}}
<link rel="stylesheet" href="{{ url_for('static', filename='css/finder.css') }}">
{% endblock css %}

{% block nav_bar %} {{super()}} {% endblock nav_bar %}
{% block header_content %} 
<div class="section__container header__container" id="home">
    <div class="header__content">
        <h1>Find a Hospital Near You – Get Medical Help Fast</h1>
        <h4> Locate Hospitals & Clinics in Your Area</h4>
        <p>
            Instantly find hospitals, emergency rooms, 
            and specialized clinics based on your location.
        </p>
        <button class="btn">See Services</button>
    </div>
</div>
{% endblock header_content %}

{% block content %}
<section class="finder__container">
    <h2 class="section__header">Hospital Finder</h2>
    <div class="finder__search">
        <input type="text" id="locationInput" placeholder="Enter your city or zip code">
        <button id="searchButton" class="btn">Find Hospitals</button>
    </div>
    <div id="map" class="finder__map"></div>
    <div id="hospitalList" class="finder__results"></div>
</section>
{% endblock content %}

{% block footer %} {{super()}} {% endblock footer %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/finder.js') }}"></script>
{% endblock scripts %}